/* Basic Styles */

body {
	background: #5e5e5e;
	color: white;
	margin-top:100px;
	font-family: 'Source Code Pro', serif;
	font-size: 14px;
}

div {
	max-width: 1200px;
}

h1 {
	font-color: white;
	font-size: 26px;
	font-weight: bold;
	padding-bottom: 12px;
	text-align: center;
}

h2 {
	font-color: #FFFF66;
	font-size:22px;
	padding-bottom: 10px;
	text-align: center;
}

h3 {
	font-color: white;
	font-size: 18px;
	padding-bottom: 8px;
	text-align: center;
}

p {
	font-color: white;
	font-size: 14px;
	margin:0;
	text-align: left;
}

p.center {
	text-align: center;
}

a {
	color: white;
}

a:hover {
	color: white;
}

a.button {
	color: #0099FF;
	font-weight: 700;
	font-size: 24px;
	background: white;
	padding: 10px;
}

img {
	padding: 0px;
}

/* Form Styles */

form {
	text-align: left;
}

input[type='submit'] {
	color: #FF5050;
	font-weight: 700;
}

input[type="text"] {
	color: #5e5e5e;
}


label {
	color: #FFFF66;
	text-align: left!important;
	font-size: 14px;
	font-weight: 500;
}

label.text {
	margin-bottom: 20px!important;
}

label.error {
	color: #FF5050;
	font-size: 14px;
	margin-bottom: 20px;
}

label#numPeople-error {
	margin-left: -15px;
}

/* Custom Classes */

.form-control {
	max-width: 160px;
}

.form-group {
	margin-bottom: -5px;
}

.highlight {
	color: #0099FF;
	font-weight: 600;
}

.subHighlight {
	color: #66FF66;
	font-weight: 600;
}

.inverseIndent {
	margin-left: -25px;
}

.doubleInverseIndent {
	margin-left: -50px;
}

.column {
	margin: 50px;
}

.container {
	max-width: 1000px;
}