body {
	background: yellow;
}

div {
	max-width: 1200px;
}

h1 {
	color: #000;
	font-size: 26px;
	font-weight: bold;
	padding-bottom: 12px;
	text-align: center;
	font-family: 'Cabin', sans-serif;
}

h2 {
	color: #474747;
	font-size:22px;
	padding-bottom: 10px;
	text-align: center;
	font-family: 'Cabin', sans-serif;
}

h3 {
	color: #757575;
	font-size: 18px;
	padding-bottom: 8px;
	text-align: center;
	font-family: 'Cabin', sans-serif;
}

p {
	color: #000;
	font-size: 14px;
	padding: 5px;
	text-align: center;
	font-family: 'Cabin', sans-serif;
}

a {
	color: #000;
}

a:hover {
	color: #000;
}

img {
	padding: 0px;
}

.accordion-container{
	margin: 20px;
}

.tab-container {
	margin-left: auto;
	margin-right: auto;
	max-width: 275px;
}

.nav-tabs {
	max-width: 275px;
}

.nav-tabs>li.active>a {
	background-color: #f5f5f5;
}

.nav-tabs>li.active>a:hover {
	background-color: #f5f5f5;
}

.top {
	margin-top:100px;
}

.tab-content {
	border-radius:3px;
	border: 1px solid #ddd;
	background: #fff;
	padding-top: 10px;
}